:root {
  --cell-size: 23vmin;
  --color-dark: #12372a;
  --color-primary: #436850;
  --color-secondary: #ADBC9F;
  --color-light: #FBFADA;
  --gap-small: 20px;
  --gap-medium: 30px;
  --gap-large: 40px;
}

* {
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

body {
  margin: 0;
}


#players {
  background-color: var(--color-secondary);
  position: absolute;
  box-sizing: border-box;
  width: 100vw;

  /* Transitioning */
  opacity: 0;
  transition: 0.2s ease;
}

#players form {
  width: max(300px, 60%);
  padding: var(--gap-small);
  margin: auto;
  font-size: 1.5rem;

  display: flex;
  gap: var(--gap-small);
  flex-wrap: wrap;
  justify-content: center;
}

.form-item {
  flex: 1 0 auto;
  text-align: center;
}

.form-item:not(.button) {
  display: grid;
  grid-auto-flow: column;
}

input {
  appearance: none;
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
  height: 100%;
  padding: 5px;
}

.form-item.button {
  width: 100%;
}

button:not(.cell) {
  padding: 10px var(--gap-large);
  background-color: var(--color-primary);
  color: white;
  font-size: 1.5rem;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.game-main {
  padding: var(--gap-small);
  display: grid;
  justify-items: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.game-main > div {
  margin: var(--gap-small);
}

.row {
  display: flex;
}

.cell {
  box-sizing: border-box;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: 0px;
  margin: 5px;
  border: none;
  cursor: pointer;

  font-size: 4rem;
  background-color: var(--color-secondary);
  color: white;
}

.cell:disabled {
  cursor: auto;
  background-color: var(--color-light);
  color: black;
}

#players.show {
  opacity: 1;
}