:root {
  --cell-size: 23vmin;
  --color-dark: #12372a;
  --color-primary: #436850;
  --color-secondary: #ADBC9F;
  --color-light: #FBFADA;
  --gap-small: 20px;
  --gap-medium: 30px;
  --gap-large: 40px;
  --font-large: 1.3rem;
}

* {
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

body {
  margin: 0;
}


#players {
  background-color: var(--color-secondary);
  position: absolute;
  box-sizing: border-box;
  width: 100vw;

  /* Transitioning */
  z-index: -1;
  opacity: 0;
  transition: 0.2s ease;
}

#players form {
  width: max(300px, 60%);
  padding: var(--gap-small);
  margin: auto;
  font-size: var(--font-large);

  display: flex;
  gap: var(--gap-small);
  flex-wrap: wrap;
  justify-content: center;
}

.form-item {
  flex: 1 0 auto;
  text-align: center;
}

.form-item:not(.button) {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 5px;
}

input {
  appearance: none;
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
  height: 100%;
  padding: 5px 10px;
}

.form-item.button {
  width: 100%;
}

button:not(.cell) {
  padding: 10px var(--gap-large);
  background-color: var(--color-primary);
  color: white;
  font-size: var(--font-large);
  border-radius: 15px;
  border: none;
  box-shadow: 0px 0px 12px inset #ffffff80;
  cursor: pointer;
}

.game-main {
  padding: var(--gap-small);
  display: grid;
  justify-items: center;
  font-weight: bold;
  font-size: var(--font-large);
}

.game-main > div {
  margin: var(--gap-small);
}

.row {
  display: flex;
}

.cell {
  box-sizing: border-box;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: 0px;
  margin: 5px;
  border: none;
  cursor: pointer;

  font-size: 4rem;
  background-color: var(--color-secondary);
  color: white;
}

.cell:disabled {
  cursor: auto;
  background-color: var(--color-light);
  color: black;
}

#result {
  background-color: var(--color-dark);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 50vw;
  padding: var(--gap-small);

  color: white;
  text-align: center;

  /* Transitioning */
  opacity: 0;
  transition: 0.2s ease;
  z-index: -1;
}

h3 {
  font-size: var(--font-large);
  margin-top: 0;
}

#players.show,
#result.show {
  opacity: 1;
  z-index: 1;
}

#result.show {
  background: color-mix(in srgb, var(--color-dark) 70%, transparent);
}